global:
  hub: docker.io/istio
  tag: 1.26.6
  istioNamespace: istio-system

# Base CRDs
base:
  enabled: true

# Istiod
istiod:
  replicaCount: 3
  resources:
    requests:
      cpu: 300m
      memory: 300Mi
    limits:
      cpu: 500m
      memory: 500Mi
  pilot:
    autoscaleEnabled: false
    traceSampling: 1.0
  meshConfig:
    enableProtocolSniffingInbound: true
    enableProtocolSniffingOutbound: true

# Gateway (do NOT add 'enabled' or 'name')
gateway:
  replicaCount: 3
  resources:
    requests:
      cpu: 200m
      memory: 200Mi
    limits:
      cpu: 500m
      memory: 500Mi
  service:
    type: NodePort
    ports:
      - name: http2
        port: 80
        targetPort: 8080
      - name: https
        port: 443
        targetPort: 8443
  labels:
    app: istio-ingressgateway
    istio: ingressgateway

# CNI
cni:
  enabled: true
  cni:
    logLevel: info
  replicaCount: 3
